
.lg\:h-2\/3 {
    height: 66.666667vh;
 }

 .header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity value as needed */
   z-index: -1;
}

.headerLogo,
.headerNav {
   position: relative; /* Ensure the child elements are positioned relative to the parent */
}


.header h1{
   text-shadow: 0px 0px 2px black;
}

.ddsPicture, .patientPic{
   box-shadow: 0px 0px 10px black;
}

 @media only screen and (min-width: 2400px){

 .page{
    width: 2400px;
    margin: 0 auto;
 }
}